body {
    border: 10px solid black;
    padding: 20px;
    max-width: 1000px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;

}

.header-wrapper {
    border: 5px solid black;
    margin-bottom: 20px;
}

.main-section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* Equivalent to the following */
    /* flex-flow: row nowrap; */
    justify-content: space-between;
}

.footer-wrapper {
    border: 5px solid black;
    margin-top: 20px;
}

.content-wrapper {
    border: 5px solid black;
    width: 68%;
}

.side-bar-wrapper {
    border: 5px solid black;
    width: 28%;
}


.grand-title {
    text-align: center;
    font-size: 3em;
}

.title {
    font-size: 24px;
    text-align: center;

}

/* Side bar widgets */
.side-bar-content {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    flex-direction: column;
}

.panel > .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* TODO: not responsive */
.panel > .figure > svg {
    height: 30px;
}

.panel > .figure > svg > line {
    stroke-width: 15px;
}

.panel#a-opt > .figure > svg > line {
    stroke: pink;
}

.panel#a-sr > .figure > svg > line {
    stroke: pink;
}

.panel#a-rt > .figure > svg > line {
    stroke: pink;
}

.a-opt-bar {
    flex-direction: column;
    display: flex;
    width: 80%;
}

/* figures */

.figure-title {
    text-anchor: middle;
    font-family: Arial;
    font-size: 18px;
}

.axis {
    font-size: 16px;
}

.axis-label {
    text-anchor: middle;
    font-family: Arial;
    font-size: 18px;
}

.line_a {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

.line_s {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

#bar rect {
    fill: steelblue;
}
