body {
    border: 10px solid black;
    padding: 20px;
    max-width: 1000px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;

}

.header-wrapper {
    border: 5px solid black;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* Equivalent to the following */
    /* flex-flow: row nowrap; */
    justify-content: space-between;
}

.footer-wrapper {
    border: 5px solid black;
    margin-top: 20px;
}

.main-section-wrapper {
    border: 5px solid black;
    width: 68%;
    display: flex;
    flex-direction: column;
}

.side-bar-wrapper {
    border: 5px solid black;
    width: 28%;
}


.grand-title {
    text-align: center;
    font-size: 3em;
}

.title {
    font-size: 24px;
    text-align: center;

}

/* Main section */


/* Side bar widgets */
.side-bar-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

/*
1,2: titles
3: subject id
*/
.side-bar-content :nth-child(1) {order: 2;}
.side-bar-content :nth-child(2) {order: 6;}
.side-bar-content :nth-child(3) {order: 1;}
.side-bar-content :nth-child(4) {order: 3;}
.side-bar-content :nth-child(5) {order: 4;}
.side-bar-content :nth-child(6) {order: 5;}
.side-bar-content :nth-child(7) {order: 7;}
.side-bar-content :nth-child(8) {order: 8;}
.side-bar-content :nth-child(9) {order: 9;}

.side-bar-content > .sub-id {
    border: 1px solid black;
    margin-bottom: 5%;
    font-size: 2em;
    text-align: center;
}


.panel {
    display: flex;
    flex-direction: column;
}

.panel > .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

/* TODO: not responsive */
.panel > .figure > svg {
    height: 15px;
}

.panel > .figure > svg > line {
    stroke-width: 15px;
}

.a-opt-bar {
    flex-direction: column;
    display: flex;
    width: 80%;
}

/* figures */

.figure-title {
    text-anchor: middle;
    font-family: Arial;
    font-size: 18px;
}

.axis {
    font-size: 16px;
}

.axis-label {
    text-anchor: middle;
    font-family: Arial;
    font-size: 18px;
}

.line_a {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

.line_s {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

#bar rect {
    fill: steelblue;
}
